html,
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: white;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Text-Semibold.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
